body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Zilla Slab', serif;
}

/* Header styles */
header{
   
    display: flex;
    justify-content: space-around;
    background-image: url(/image/pngwing\ 10.png);
    background: rgba(229, 84, 115, 0.10);

}
.header-container{
    padding-left: 100px;
    padding-top: 197px;
    padding-bottom: 147px;
}

.header-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800px;
}
.header-info{
    font-size: 18px;
    font-weight: 400px;
    color: rgba(39, 39, 39, 0.60);
}
.btn-primary{
    background-color:  #E55473;
    border: 0px;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700px;
    padding: 20px 43px;
}

.header-img{
    width: 635px;
    height: 800px;
    padding-right:100px ;
    padding-top: 50px;
    padding-left: 10px;
    
   
}

/* feature style */
.featured-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 178px;
}
.featured-info{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 48px;
}

/* flower style */
.flower-container{
    display: flex;
    justify-content:space-around;
    
}
.flower-section-one{
   display: flex;
   align-items: center;
   justify-content: center;
    width: 364px;
    height: 438px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);


}
.flower-section-two{
    display: flex;
    align-items: center;
    justify-content: center;
     width: 364px;
     height: 438px;
     border-radius: 300px 300px 0px 0px;
     background:  rgba(5, 151, 160, 0.15);
 
}
.flower-section-three{
    display: flex;
    align-items: center;
    justify-content: center;
     width: 364px;
     height: 438px;
     border-radius: 300px 300px 0px 0px;
     background: rgba(71, 125, 17, 0.15);
 
}
    
.img-flower{
    width: 210px;
    height: 328px;
}

.flower-ending >a{
   
    color: #272727;
   
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px; /* 145.833% */
    text-decoration-line: underline;
}

/* service style */
.service-container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 1150px;
    height: 300px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: auto;
    margin-top: 80px;
    padding: auto;
   
}

.Delivery{
    color: rgba(39, 39, 39, 0.80);
   text-align: center;
   font-size: 24px;
   font-weight: 600px;
}

/* sales style */

.sales-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 1260px;
    height: 500px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin: auto;
    margin-top: 100px;
}

.sales-section{
    align-items: center;
    padding: auto;
}
.sales-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800px;

}
.off{
    color: #E55473;
    font-size: 40px;
    font-weight: 800px;
}
.sales-info{
    color:  rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400px;
}
.sales-img{
    width: 318px;
    height: 420px;
    background: url(<path-to-image>),cover no-repeat;
}
.sales-flower{
     padding: auto;
}

/* Instagram style */
.Instagram-section{
 margin: auto;
 
}
.Insta-title{
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800px;
}
.Insta-info{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400px;

}

/* image style */
.img-flower-section{
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 300px;
    margin-top: 50px;
}
.img-one{
    
    margin-right: 20px;
    margin-left: 100px;
    
}
.img-two{
    margin-right: 20px ;
    
}
.img-three{
    margin-right: 20px;
}
.img-four{
   margin-right: 100px;
    
}

/* deal-style */
.deals{
    background-image: url(/image/Rectangle\ 9.png);
    background-repeat: no-repeat;
    width: 1300px; 
    height: 440px;
    border-radius: 8px;
   display: flex;
    justify-content: center;
    align-items: center;
    background-position:center ;
    margin-top: 100px;
    margin-bottom: 100px;
    
} 
.deals-input{
    display: flex;
   justify-content: center;
   margin-bottom: 50px;

}

.deals-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight:800px ;
}
.deals-info{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400px;
    text-align: center;
}
.deals-email{
    width: 600px;
    height: 58px;
    background: #fff;
    border-radius: 8px;
    border: 0px;
    margin-right: 10px;
}

/* tips styles */
.tips-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.tips-title{
    margin-top: 100px;
    font-size: 48px;
    font-weight: 800px;
    color: #272727;
    text-align: center;
}
.tips{
    color: #E55473;
}
.tips-four>li{
    font-size: 18px;
    font-weight: 400px;
    color: #272727;
    width: 800px;
}
.tip{
    color:#E55473;
    font-size: 22px;
    font-weight: 600px;
    padding-right: 16px;
}
hr{
    width: 30px;
    height: 4px;
}

/* flower-shop-style */
.flower-shop{
    width: 1340px;
    height: 449px;
    background-color: #111010;
}
.shop-container{
    padding-top: 60px;
}
.shop-title{
    text-align: center;
     color: #fff;
     font-size: 48px;
     font-weight: 800px;
}
.pink-floewr{
    text-align: center;
  color:  #E55473;
  font-size: 48px;
  font-weight: 800px;
} 
.shop-info{
   margin-left: 390px;
    font-size: 18px;
    font-weight: 400px;
    color: #fff;
    width: 625px;
}
.shop-address{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}