body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Zilla Slab', serif;
}

/* Header styles */
header{
   
    display: flex;
    justify-content: space-around;
    background-image: url(/image/pngwing\ 10.png);
    background: rgba(229, 84, 115, 0.10);

}
.header-container{
    padding-left: 100px;
    padding-top: 197px;
    padding-bottom: 147px;
}

.header-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800px;
}
.header-info{
    font-size: 18px;
    font-weight: 400px;
    color: rgba(39, 39, 39, 0.60);
}
.btn-primary{
    background-color:  #E55473;
    border: 0px;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700px;
    padding: 20px 43px;
}

.header-img{
    width: 635px;
    height: 800px;
    padding-right:100px ;
    padding-top: 50px;
    padding-left: 10px;
    
   
}

/* feature style */
.featured-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 178px;
}
.featured-info{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 48px;
}

/* flower style */
.flower-container{

}
.flower-section{
    width: 1920px;
    height: 4867px;
}
.flower-img{
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;

width: 270px;
height: 350px;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15)
}
.pink-a{
    text-decoration: none;
}